*{
    margin:0;
    padding:0;
    font-family: Microsoft YaHei;
}
header {
    background-color:#212121;
    box-shadow: 0 -1px 2px #111111;
    color:#fff;
    display:block;
    height:70px;
    position:relative;
    width:100%;
    z-index:100;
}
header h2{
    font-size:22px;
    font-weight:normal;
    left:50%;
    margin-left:-400px;
    padding:22px 0;
    position:absolute;
    width:540px;
}
header a.stuts,a.stuts:visited{
    border:none;
    text-decoration:none;
    color:#fcfcfc;
    font-size:14px;
    left:50%;
    line-height:31px;
    margin:23px 0 0 110px;
    position:absolute;
    top:0;
}
header .stuts span {
    font-size:22px;
    font-weight:bold;
    margin-left:5px;
}

#webView
{
    position: absolute;
    z-index: 0;
    display:block;
    top: 73px;
    width: 800px;
    height: 600px;
    background-color:#31363e;

}
#layaBoxwebs{
    position: absolute;
    z-index: 0;
    display:block;
    top: 73px;
    width: 1000px;
    height: 600px;
    float: left;
    background-color:#31363e;
}
#toolBar1, #toolBar2{

    width: 100%;
    height: 36px;
    margin:0;
    padding: 0;
    float: left;
    overflow: hidden;
    border-bottom: solid 1px #484444;
    background-color: #333333;
    display: none;
}
#toolBar3{
    width: 100%;
    height: 36px;
    margin:0;
    padding: 0;
    float: left;
    overflow: hidden;
    border-bottom: solid 1px #484444;
    background-color: #333333;
}
#urlInput{
    padding: 3px 3px 3px 3px;
    top: 42px;
    position: absolute;
    right: 8px;
    margin-bottom: 96px;
    margin-left: 22px;
    font-size: 14px
    width: 84%;
    float: right;
    border-radius: 4px;
    outline: medium;
    height: 20px;
    /* line-height: 25px; */
    -webkit-font-smoothing: antialiased;
    background-color: #494949;
    border: 0px;
    color: #BABABA;
}
#toolBar2 button
{
    font-family: Microsoft YaHei;
    font-size: 12px;
    height:23px;
    width: 66px;
    color:#FFF;
    background: rgb(51,51,51);
    border:1px solid #231815;
    border-radius: 2px;
    outline: none;
}
#goBack
{


    height:26px;
    width: 26px;
    border: 0;

    margin-left: 6px;
    margin-top: 6px;
    outline: none;
    cursor: pointer;
}
#goFor{


    height:26px;
    width: 26px;
    border: 0;

    margin-left: 4px;
    outline: none;
    cursor: pointer;
}
#refresh{
    height:26px;
    width: 26px;
    border: 0;
    margin-left: 4px;

    cursor: pointer;
    outline: none;
}
#toolBar2 button:hover
{
    background:rgb(76,76,76);
}
.btn-s{
    position: relative;
    height: 100%;
    font-size: 14px;

    float: left;
}
.btn-s img{
    position: absolute;
    top:11px;
    left: 24px;
}
.btn-s a{
    color: #bababa;
    text-decoration: none;
    margin-left: 3px;
}
.btn-s a:hover{
    color: #00B4FF;
}

.btn-01{
    width: 90px;
    padding-left: 40px;
    border-right: solid 1px #000;
}
.btn-02{
    width: 200px;
    padding-left: 37px;
    border-right: solid 1px #000;
}
.btn-02 a{
    color: #bababa;
    margin-left: 3px;
}